<div class="relative w-screen h-128 xsm:h-128 sm:h-112">
  <ul class="slider">
    <li><%= image_tag "food_pic_01.jpg" ,class: "w-screen h-128 xsm:h-128 sm:h-112 object-cover" %></li>
    <li><%= image_tag "food_pic_02.jpg" ,class: "w-screen h-128 xsm:h-128 sm:h-112 object-cover" %></li>
    <li><%= image_tag "food_pic_03.jpg" ,class: "w-screen h-128 xsm:h-128 sm:h-112 object-cover" %></li>
    <li><%= image_tag "food_pic_04.jpg" ,class: "w-screen h-128 xsm:h-128 sm:h-112 object-cover" %></li>
  </ul>
  <% provide :search_catch, '好きな料理を検索して、美味しいお店を見つけよう！' %>
  <% provide :color, 'black' %>
  <% provide(:submit_text, "検索") %>
  <div class="absolute bottom-8 right-0 left-0 m-auto">
    <%= render 'shop_foods/shop_food_search_form' %>
  </div>
</div>

<%= stylesheet_pack_tag 'search_shop_foods' %>
<%= javascript_pack_tag 'search_shop_foods' %>

<script type="text/javascript">
  $(document).on('DOMContentLoaded', function() {
    $('.slider').not('.slick-initialized').slick({
      autoplay: true,
      autoplaySpeed: 6000,
      dots: false,
      fade: true,
      speed: 1000,
      prevArrow: "",
      nextArrow: ""
    });
  });
</script>