<div class="">
  <ul class="slider">
    <li><%= image_tag "food_pic_01.jpg" ,class: "w-screen h-64 md:h-96 object-cover" %></li>
    <li><%= image_tag "food_pic_02.jpg" ,class: "w-screen h-64 md:h-96 object-cover"  %></li>
    <li><%= image_tag "food_pic_03.jpg" ,class: "w-screen h-64 md:h-96 object-cover"  %></li>
    <li><%= image_tag "food_pic_04.jpg" ,class: "w-screen h-64 md:h-96 object-cover"  %></li>
  </ul>

  <div class="my-5 p-3 bg-yellow-100 text-xl">
    <h2>フード投稿一覧（<%= @shop_foods.total_count %>件）</h2>
  </div>
  <ol>
    <%= render @shop_foods %>
  </ol>
  <div class="my-10">
    <%= paginate @shop_foods %>
  </div>
</div>

<script type="text/javascript">
  $(document).on('DOMContentLoaded', function() {
    $('.slider').not('.slick-initialized').slick({
      autoplay: true,
      autoplaySpeed: 6000,
      dots: false,
      fade: true,
      speed: 1000,
      prevArrow: "",
      nextArrow: ""
    });
  });

  $('.star-rating').raty({
    starOff: '<%= asset_path("star-off.png") %>',
    starOn: '<%= asset_path("star-on.png") %>',
    starHalf: '<%= asset_path("star-half.png") %>',
    scoreName: 'review[rate]',
    score: function() {
      return $(this).attr('data-rate');
    },
    readOnly: true
  });
</script>