<div class="container mx-auto">
  <ul class="slider">
    <li><%= image_tag "food_pic_01.jpg" ,class: "w-screen h-64 md:h-96 object-cover" %></li>
    <li><%= image_tag "food_pic_02.jpg" ,class: "w-screen h-64 md:h-96 object-cover"  %></li>
    <li><%= image_tag "food_pic_03.jpg" ,class: "w-screen h-64 md:h-96 object-cover"  %></li>
    <li><%= image_tag "food_pic_04.jpg" ,class: "w-screen h-64 md:h-96 object-cover"  %></li>
  </ul>


<i class="fa fa-bars" aria-hidden="true" fa-2x></i>
<p>ダミー1</p>
<p>ダミー2</p>
<p>ダミー3</p>
<p>ダミー4</p>
<p>ダミー5</p>
<p>ダミー6</p>
<p>ダミー7</p>
<p>ダミー8</p>
<p>ダミー9</p>
<p>ダミー10</p>
<p>ダミー11</p>
<p>ダミー12</p>
<p>ダミー13</p>
<p>ダミー14</p>
<p>ダミー15</p>
<p>ダミー16</p>
<p>ダミー17</p>
<p>ダミー18</p>
<p>ダミー19</p>

<h1>IPPIN</h1>
<p>
  IPPINのホーム画面
</p>
<% if logged_in? %>
  <div class="">
    <%= link_to "レビューの新規投稿", new_review_path %>
  </div>
<% else %>
  <div class="">
    <%= link_to "新規登録", signup_path %>
  </div>
<% end %>
<div class="">
  <h2>フード投稿一覧（<%= @foods.total_count %>件）</h2>
</div>
<ol>
  <%= render @foods %>
</ol>
  <%= paginate @foods %>
</div>

<script type="text/javascript">
$(document).on('turbolinks:load', function(){
  $('.slider').slick({
    autoplay:true,
    autoplaySpeed: 6000,
    dots:true,
    centerMode: true,
    centerPadding: '5%',
  });
});
</script>
