<div class="container mx-auto">
  <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    <div class="mx-5 py-5 border-b">
      <div class="mb-4 text-center">
        <span class="border-b-4 border-yellow-200 border-opacity-50">登録済みの方はこちらからログインください</span>
      </div>
      <div class="mb-4">
        <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me, class: "mr-2" %>
          <span class="text-gray-700 text-sm">ログイン状態を記憶する</span>
        <% end %>
      </div>

      <%= f.submit "ログイン", class: "w-full text-center rounded py-2 bg-blue-400 hover:bg-blue-600 text-white" %>
    </div>
  <% end %>
  <div class="container mx-auto">
  <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    <div class="mx-5 py-5 border-b">
      <div class="mb-4 text-center">
        <span class="border-b-4 border-yellow-200 border-opacity-50">ゲスト用のログインはこちらから</span>
      </div>
        <%= f.hidden_field :email, value: Settings.sample_user.email %>
        <%= f.hidden_field :password, value: Settings.sample_user.password %>
      <%= f.submit "ゲストログイン", class: "w-full text-center rounded py-2 bg-blue-400 hover:bg-blue-600 text-white" %>
    </div>
  <% end %>
  <div class="text-sm p-5">
    まだ登録されていない方は<%= link_to "こちら", signup_path(@review), class: "font-bold text-blue-500" %>からユーザ登録してください
  </div>
</div>
