<%= form_with(model: @user, local:true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-6 mx-1 text-center">
    <span class="border-b-4 border-yellow-200 border-opacity-50"><%= yield(:description) %></span>
  </div>
  <div class="xsm:flex xsm:justify-between mx-5 mb-8">
    <div class="w-36 sm:w-4/12 h-40 mx-auto xsm:h-full xsm:mr-4 sm:mx-6 xsm:my-auto">
      <div class="w-8/12 mb-2 mx-auto">
        <% if @user.picture? %>
          <%= image_tag @user.picture_url(:thumb), class: "rounded-full w-full" %>
        <% else %>
          <%= image_tag "no_image.jpg", class: "rounded-full w-full" %>
        <% end %>
      </div>
      <div class="w-full mx-auto">
        <%= f.label :picture, '<i class="fa fa-folder-open mr-2" aria-hidden="true"></i>ファイル選択'.html_safe, class: "select-button block" %>
        <%= f.file_field :picture, class: "hidden" %>
        <%= f.hidden_field :picture_cache %>
      </div>
    </div>
    <div class="sm:w-8/12">
      <div class="mb-4">
        <%= f.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <%= f.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.password_field :password_confirmation, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-6" %>
      </div>
    </div>
  </div>
  <%= f.submit yield(:submit_text), class: "w-full text-center rounded py-2 bg-blue-400 hover:bg-blue-600 text-white" %>
<% end %>
