<%= form_with(model: @user, local:true) do |f| %>
  <div class='mb-4'>
    <%= render 'shared/error_messages', object: f.object %>
  </div>
  <div class="mb-6 mx-1 text-center">
    <span class="border-b-4 border-yellow-200 border-opacity-50"><%= yield(:description) %></span>
  </div>
  <div class="sm:flex sm:justify-between mx-5 mb-8 xl:mb-16">
    <div class="w-36 sm:w-4/12 xl:w-3/12 h-40 mb-4 mx-auto sm:h-full sm:mr-8 sm:my-auto">
      <div class="w-10/12 mb-4 mx-auto" >
        <div class="square-pic-wrap">
          <% pic = @user.picture? ? @user.picture_url : "no_image.jpg" %>
          <%= image_tag pic, id: "pic_preview", class: "rounded-full square-pic-disp" %>
        </div>
      </div>
      <div class="w-full mx-auto">
        <%= f.label :picture, '<i class="fa fa-folder-open mr-2" aria-hidden="true"></i>ファイル選択'.html_safe, class: "select-button block", for: "pic_field" %>
        <%= f.file_field :picture, id: "pic_field", class: "hidden" %>
        <%= f.hidden_field :picture_cache %>
      </div>
    </div>
    <div class="sm:w-8/12">
      <div class="mb-4">
        <span class="label"><%= f.label :name, class: "block mb-2" %></span>
        <%= f.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <span class="label"><%= f.label :email, class: "block mb-2" %></span>
        <%= f.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <span class="label"><%= f.label :password, class: "block mb-2" %></span>
        <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <span class="label"><%= f.label :password_confirmation, class: "block mb-2" %></span>
        <%= f.password_field :password_confirmation, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-6" %>
      </div>
    </div>
  </div>
  <%= f.submit yield(:submit_text), class: "w-full text-center rounded py-2 bg-blue-400 hover:bg-blue-600 text-white" %>
<% end %>

<%= javascript_pack_tag 'picture/preview' %>
