<% provide(:title, @user.name) %>
<%= @user.name %>, <%= @user.email %>

<div class="">
  <% if @user.reviews.any? %>
    <div class="">
      <h2>レビュー投稿一覧（<%= @user.reviews.count %>件）</h2>
    </div>
    <ol>
      <%= render partial: 'reviews/review_summary', collection: @review, as: :review %>
    </ol>
     <%= paginate @review %>
  <% end %>
</div>
