<% provide(:title, @user.name) %>

<div class="container my-5 p-2 mx-auto">
  <div class="">
    名前：<%= @user.name %>
  </div>
  <div class="">
    Email：<%= @user.email %>
  </div>
</div>

<div class="">
  <% if @user.reviews.any? %>
    <div class="my-5 p-3 bg-yellow-100 text-xl">
      <h2><span class="ml-2 font-semibold">レビュー投稿<i class="fas fa-comments text-green-300 mx-1"></i><%= @user.reviews.count %>件</span></h2>
    </div>
    <ol>
      <%= render partial: 'reviews/review', collection: @review, as: :review %>
    </ol>
    <%= paginate @review %>
  <% end %>
</div>
