<% provide(:title, "料理詳細") %>

<div class="w-11/12 mx-auto bg-gray-50 my-4 p-4">
  <div class="sm:flex sm:flex-row">
    <%= link_to(@food, class: "sm:w-4/12") do %>
        <div class="h-40 bg-gray-300 sm:h-full sm:w-full">food画像</div>
    <% end %>
    <div class="ml-4">
      <div class="font-bold"><%= @food.name %></div>
      <div>
        点数：<%= @food.rate %>
      </div>
      <div>カテゴリー：<%= @food.category %> </div>
      <div>レストラン：<%= @food.restaurant %> </div>
    </div>
  </div>
</div>

<div class="my-5 p-3 bg-yellow-100 text-xl">
  <h2><span class="ml-2 font-semibold">レビュー投稿<i class="fas fa-comments text-green-300 mx-1"></i><%= @food.reviews.count %>件</span></h2>
</div>
<ol>
  <%= render @reviews %>
</ol>
<div class="my-10">
  <%= paginate @reviews %>
</div>
<!-- <div class="">
  <%= @food.name %>
  <%= @food.restaurant %>
  <%= @food.category %>
  <%= @food.rate %>
</div>
<div class="">
</div>
<table>
  <thead>
    <tr>
      <th>title</th>
      <th>rate</th>
      <th>content</th>
      <th>user</th>
      <th>created_at</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= link_to review.title, review %></td>
        <td><%= review.rate %></td>
        <td><%= review.content %></td>
        <td><%= link_to review.user.name, review.user %></td>
        <td><%= time_ago_in_words(review.updated_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="my-10">
  <%= paginate @reviews %>
</div> -->
