<%= form_with(model: @form, url: shop_foods_path, method: :get, local:true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="m-2 max-w-2xl xsm:border-4 xsm:border-gray-200 xsm:rounded-2xl xsm:p-8 xsm:m-6 md:mx-auto">
  <div class="mb-4">
    <%= f.label :food_id, "æ–™ç†å", class: "input-label",id: "food-id-label" %>
    <div id="food-ddl" data-food-id="<%= @form.food_id %>"></div>
  </div>
  <div class="mb-4">
    <div id="area-ddl" data-large-area="<%= @form.large_area %>" data-middle-area="<%= @form.middle_area %>"></div>
  </div>
  <%= f.submit yield(:submit_text), class: "submit-button w-full mt-6" %>
</div>
<% end %>
