<li>
  <div class="w-11/12 mx-auto bg-gray-100 my-4 p-4 rounded-md sm:flex sm:justify-start">
    <div class="mb-2 w-11/12 xsm:w-8/12 mx-auto sm:mx-4 sm:my-auto sm:w-3/12 lg:w-2/12">
      <%= image_tag @shops[shop_food.shop_id]['photo']['mobile']['l'], class: "w-full h-auto" %>
    </div>
    <div class="ml-4">
      <div class="link text-xl"><%= link_to @shops[shop_food.shop_id]['name'], shop_food %></div>
      <div><%= @shops[shop_food.shop_id]['genre']['catch'] %></div>
      <div class="my-1">
        <% genre = @shops[shop_food.shop_id]['genre']['name'] %>
        <% sub_genre = @shops[shop_food.shop_id]['sub_genre']['name'] %>
        <% if genre.present? %>
        <div class="genre-tag">
          <%= genre %>
        </div>
        <% end %>
        <% if sub_genre.present? && sub_genre != genre %>
        <div class="genre-tag">
          <%= sub_genre %>
        </div>
        <% end %>
      </div>
      <div>
        <div class="sm:flex sm:flex-row sm:items-center">
          <div class="p-2 inline-block rounded-2xl bg-white ">
            <div class="flex flex-row">
              <div class=" font-semibold"><%= shop_food.food.name %>の評価</div>

              <div class="mt-1 sm:mt-0 sm:ml-6">
                <i class="fas fa-comments text-green-300 mx-1 inline-block"></i>
                <%= link_to "レビュー：#{shop_food.reviews.count}件", shop_food, class: "link" %>
              </div>
            </div>
            <div class="flex flex-row items-center ml-2">
              <div class="flex flex-row star-rating" data-rate="<%= shop_food.rate %>"></div>
              <div class="ml-2 font-semibold"><%= shop_food.rate %></div>
            </div>
          </div>
        </div>
      </div>
      <table class="mt-2">
        <tr>
          <td class="align-top"><i class="fa fa-subway" aria-hidden="true"></i></td>
          <td><%= @shops[shop_food.shop_id]['mobile_access'] %></td>
        </tr>
        <tr>
          <td class="align-top"><i class="fas fa-map mr-2" aria-hidden="true"></i></td>
          <td><%= @shops[shop_food.shop_id]['address'] %></td>
        </tr>
        <tr>
          <td class="align-top"><i class="fas fa-chair mr-2" aria-hidden="true"></i></td>
          <td><%= @shops[shop_food.shop_id]['capacity'] %>席</td>
        </tr>
      </table>
    </div>
  </div>
</li>