<%= form_with(model: @form, url: shop_foods_path, method: :get, local:true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<% if yield(:color) == 'black' %>
<div class="bg-gray-700 bg-opacity-60 p-2 max-w-2xl text-white xsm:rounded-2xl xsm:p-8 xsm:mx-6 md:mx-auto">
  <div class="text-xl font-semibold mb-4 text-center text-shadow-md">
    <%= yield :search_catch %>
  </div>
<% else %>
<div class="m-2 max-w-2xl xsm:border-4 xsm:border-gray-200 xsm:rounded-2xl xsm:p-8 xsm:m-6 md:mx-auto">
  <div class="text-xl font-semibold mb-4 text-center">
    <%= yield :search_catch %>
  </div>
<% end %>
  <div class="mb-4">
    <%= f.label :food_id, "料理", class: "input-label", id: "food-id-label" %>
    <div id="food-ddl" data-food-id="<%= @form.food_id %>"></div>
  </div>
  <div class="mb-4">
    <div id="area-ddl" data-large-area="<%= @form.large_area %>" data-middle-area="<%= @form.middle_area %>"></div>
  </div>
  <%= f.submit '検索', class: "submit-button w-full mt-6", id:"search-button" %>
</div>
<% end %>
