<% provide(:title, "料理詳細") %>
<ol>
  <%= render @shop_food %>
</ol>

<div class="my-5 p-3 bg-yellow-100 text-xl">
  <h2><span class="ml-2 font-semibold"><%= @shop_food.food.name %>のレビュー<i class="fas fa-comments text-green-300 ml-3 mr-1"></i><%= @shop_food.reviews.count %>件</span></h2>
</div>
<ol>
  <%= render @reviews %>
</ol>
<div class="my-10">
  <%= paginate @reviews %>
</div>
<!-- 評価javascript -->
<script>
  $('.star-rating').raty({
    starOff: '<%= asset_path("star-off.png") %>',
    starOn: '<%= asset_path("star-on.png") %>',
    starHalf: '<%= asset_path("star-half.png") %>',
    scoreName: 'review[rate]',
    hints: ['とても悪い', '悪い', '普通', '良い', 'とても良い'],
    score: function() {
      return $(this).attr('data-rate');
    },
    readOnly: true
  });
</script>