<li>
  <div class="border w-11/12 mx-auto text-xs mb-2">
    <div class="border-b mx-auto p-2">
      <div>ユーザ：<%= link_to review.user.name, review.user, class: "font-bold text-blue-500" %></div>
      <div class="flex flex-row justify-between">
        <div>更新日：<%= review.updated_at.strftime("%Y年%-m月%-d日") %></div>
          <% if current_user?(review.user) %>
            <div class="">
              <%= link_to "レビュー修正", edit_review_path(review), class: "font-bold text-blue-500" %>
              <%= link_to "削除", review_path(review), method: :delete,
                            data: {confirm: "本当に投稿を削除してよろしいですか？"},
                            class: "font-bold text-blue-500" %>
            </div>
          <% end%>
      </div>
    </div>
      <div class="m-1 bg-white">
        <div class="m-2">
          <span class="border-b-4 border-yellow-300 border-opacity-50 text-xl"><%= review.title %></span>
        </div>
        <div>点数：<%= review.rate %></div>
        <div><%= review.content %></div>
    </div>
  </div>
</li>
