<li>
  <div class="border container mx-auto text-xs mb-2">
    <div class="border-b mx-auto p-2">
      <div>ユーザ：<%= link_to review.user.name, review.user %></div>
      <div>更新日：<%= review.updated_at.strftime("%Y年%-m月%-d日") %></div>
    </div>
      <div class="m-1 bg-white">
        <div class="m-2">
          <span class="border-b-4 border-yellow-300 border-opacity-50 text-xl"><%= review.title %></span>
        </div>
        <div>food：<%= review.food.name %></div>
        <div>点数：<%= review.rate %></div>
        <div><%= review.content %></div>
    </div>
  </div>
</li>
