<li>
  <div class="border w-11/12 mx-auto mb-2">
    <div class="border-b mx-auto p-2">
      <div>ユーザ：<%= link_to review.user.name, review.user, class: "font-bold text-blue-500" %></div>
      <div class="flex flex-row justify-between">
        <div>更新日：<%= review.updated_at.strftime("%Y年%-m月%-d日") %></div>
          <% if current_user?(review.user) %>
            <div class="">
              <%= link_to "レビュー修正", edit_review_path(review), class: "font-bold text-blue-500" %>
              <%= link_to "削除", review_path(review), method: :delete,
                            data: {confirm: "本当に投稿を削除してよろしいですか？"},
                            class: "font-bold text-blue-500" %>
            </div>
          <% end%>
      </div>
    </div>
      <div class="m-1 bg-white flex flex-row">
        <% if review.picture? %>
          <div class="">
            <%= image_tag review.picture_url(:thumb) %>
            <% # ポートフォリオ用に収集したReview用画像のCC表記用 #60 %>
            <%= review.picture_cc.html_safe if review.picture_cc? && review.picture.identifier.include?("cc_picture_") %>
          </div>
        <% end %>
        <div class="">
          <div class="m-2">
            <span class="border-b-4 border-yellow-300 border-opacity-50 text-xl"><%= review.title %></span>
          </div>
          <div class="mb-4">
              <div class="flex flex-row">
                <div class="flex flex-row star-rating" data-rate="<%= review.rate %>"></div>
              </div>
          </div>
          <div class="m-2">
            <%= review.content %>
          </div>
          <div class="text-sm xsm:text-base md:flex md:justify-between">
            <div class="text-right md:py-1 md:ml-2">
              <%= render 'likes/count', review: review %>
            </div>
            <div class="text-right xsm:mr-2">
              <%= render 'likes/like_form', review: review if logged_in? %>
            </div>
          </div>        
        </div>
    </div>
  </div>
</li>
