<li>
  <div class="border-4 rounded-2xl w-11/12 mx-auto mb-4">
    <div class="border-b mx-auto p-2 flex flex-row">
      <div class="w-16 mx-3 my-auto">
        <% pic = review.user.picture? ? review.user.picture_url(:thumb) : "no_image.jpg" %>
        <%= image_tag pic, class: "rounded-full" %>
      </div>
      <div class="w-full my-auto">
        <div>
          投稿者：<%= link_to review.user.name, review.user, class: "link" %>
        </div>
        <div class="w-full sm:flex sm:justify-between">
          <div>
            <% created_at = review.created_at.strftime("%Y/%-m/%-d") %>
            <% updated_at = review.updated_at.strftime("%Y/%-m/%-d") %>
            <div><%= "投稿日：#{created_at}" %></div>
            <% if created_at != updated_at %>
              <div class="text-sm text-gray-500"><%= "(最終更新：#{updated_at})" %></div>
            <% end %>
          </div>
          <div class="mt-auto">
            <% if current_user?(review.user) %>
              <%= link_to "レビュー修正", edit_review_path(review), class: "link" %>
              <%= link_to "削除", review_path(review), method: :delete,
                            data: {confirm_swal: "本当に投稿を削除してよろしいですか？"},
                            class: "link mx-3" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if @shop_food_disp %>
      <div class="border-b p-2 flex flex-row">
        <div class="w-16 mx-3 my-auto">
          <%= image_tag @shops[review.shop.id]['photo']['mobile']['l'] %>
        </div>
        <div class="w-full my-auto">
          <div>
            お店：<%= @shops[review.shop.id]['name'] %>
          </div>
          <div>
            料理：<%= link_to review.food.name, review.user, class: "link" %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="m-1 bg-white md:flex md:flex-row-reverse">
      <div class="md:w-full">
        <div class="m-3">
          <span class="border-b-4 border-yellow-300 border-opacity-50 text-xl md:text-2xl font-semibold"><%= review.title %></span>
        </div>
        <div class="m-3">
          <div class="flex flex-row">
            <div class="flex flex-row star-rating" data-rate="<%= review.rate %>"></div>
            <div class="ml-2 font-semibold"><%= review.rate %></div>
          </div>
        </div>
        <div class="hidden md:block md:m-2">
          <%= simple_format(review.content) %>
        </div>
      </div>
      <% if review.picture? %>
        <div class="m-3">
          <div class="max-w-sm mx-auto">
            <%= image_tag review.picture_url, class: "object-contain max-h-80 mx-auto" %>
          </div>
          <% # ポートフォリオ用に収集したReview用画像のCC表記用 #60 %>
          <div class="text-2xs text-gray-400 text-center"><%= review.picture_cc.html_safe if review.picture_cc? && review.picture.identifier.include?("cc_picture_") %></div>
        </div>
      <% end %>
    </div>
    <div class="m-3 text-sm md:hidden">
      <%= simple_format(review.content) %>
    </div>
    <div class="m-2 mt-6 text-xs md:text-sm md:flex md:flex-row-reverse">
      <div class="text-right md:py-1 md:ml-2">
        <%= render 'likes/count', review: review %>
      </div>
      <div class="text-right xsm:mr-2">
        <%= render 'likes/like_form', review: review if logged_in? %>
      </div>
    </div>
  </div>
</li>
