<% @form.user_id ||= current_user.id %>
<%= form_with(model: @form, local:true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="mb-4 text-center">
  <span class="border-b-4 border-yellow-200 border-opacity-50"><%= yield(:description) %></span>
</div>
<div class="mx-5">
  <%= f.hidden_field :user_id %>
  <div class="mb-4">
    <%= f.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="mb-4">
    <%= f.label :rate, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <div class="flex flex-row">
      <div class="flex flex-row" id="review-star-rating" data-rate="<%= @form.rate %>"></div>
      <div class="ml-4" id="hint1"></div>
    </div>
  </div>
  <div class="mb-4">
    <%= f.label :category, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_field :category, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="mb-4">
    <%= f.label :food, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_field :food, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="mb-4">
    <%= f.label :restaurant, class: "block text-gray-700 text-sm font-bold mb-2", id: "restaurant-label", data: { restaurant: @form.restaurant } %>
    <div id="select-restaurant-modal"></div>
  </div>
  <div class="mb-4">
    <%= f.label :picture, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= image_tag @form.picture_url(:thumb) if @form.picture? %>
    <%= f.file_field :picture %>
    <%= f.hidden_field :picture_cache %>
  </div>
  <div class="mb-4">
    <%= f.label :content, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_area :content, class: "h-48 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <%= f.button yield(:submit_text), type: "button", class: "w-full text-center rounded py-2 bg-blue-400 hover:bg-blue-600 text-white", onclick: "submit();" %>
  <% end %>
  <%= stylesheet_pack_tag 'review_form' %>
  <%= javascript_pack_tag 'review_form' %>
  <!-- 評価javascript -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      $('#review-star-rating').raty({
        starOff: '<%= asset_path("star-off.png") %>',
        starOn: '<%= asset_path("star-on.png") %>',
        scoreName: 'review[rate]',
        target: '#hint1',
        targetText: '評価を選択してください',
        hints: ['とても悪い', '悪い', '普通', '良い', 'とても良い'],
        targetKeep: true,
        half: false,
        score: function() {
          return $(this).attr('data-rate');
        },
      });
    })
  </script>