<% @form.user_id ||= current_user.id %>
<%= form_with(model: @form, local:true) do |f| %>
<div class='mb-4'>
  <%= render 'shared/error_messages', object: f.object %>
</div>
<div class="mb-4 text-center">
  <span class="border-b-4 border-yellow-200 border-opacity-50"><%= yield(:description) %></span>
</div>
<div class="mx-5">
  <div class="lg:flex lg:flex-row-reverse">
    <div class="lg:w-8/12 lg:mx-auto">
      <%= f.hidden_field :user_id %>
      <div class="mb-4">
        <%= f.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <%= f.label :rate, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <div class="xsm:flex xsm:flex-row">
          <div class="flex flex-row" id="review-star-rating" data-rate="<%= @form.rate %>"></div>
          <div class="xsm:ml-4" id="hint1"></div>
        </div>
      </div>
      <div class="mb-4">
        <%= f.label :food_id, class: "block text-gray-700 text-sm font-bold mb-2",id: "food-id-label", data: { food_id: @form.food_id } %>
        <div id="food-ddl"></div>
      </div>
      <div class="mb-4">
        <%= f.label :shop_id, class: "block text-gray-700 text-sm font-bold mb-2", id: "shop-label", data: { shop_id: @form.shop_id } %>
        <div id="select-shop-modal"></div>
      </div>
      <div class="mb-4">
        <%= f.label :content, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.text_area :content, class: "h-48 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
    </div>
    <div class="mb-12 mx-auto lg:w-3/12 lg:my-auto">
      <div class="mb-4 mx-auto h-40 sm:h-60 lg:h-72" >
        <% pic = @form.picture? ? @form.picture_url : "no_image.jpg" %>
        <%= image_tag pic, id: "pic_preview", class: "h-full object-contain mx-auto" %>
      </div>
      <div class="w-7/12 mx-auto">
        <%= f.label :picture, '<i class="fa fa-folder-open mr-2" aria-hidden="true"></i>ファイル選択'.html_safe, class: "select-button block", for: "pic_field" %>
        <%= f.file_field :picture, id: "pic_field", class: "hidden" %>
        <%= f.hidden_field :picture_cache %>
      </div>
    </div>
  </div>
  <%= f.button yield(:submit_text), type: "button", class: "w-full text-center rounded py-2 bg-blue-400 hover:bg-blue-600 text-white", onclick: "submit();" %>
  <% end %>
  <%= stylesheet_pack_tag 'review_form' %>
  <%= javascript_pack_tag 'review_form' %>
  <%= javascript_pack_tag 'picture/preview' %>
  <!-- 評価javascript -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      $('#review-star-rating').raty({
        starOff: '<%= asset_path("star-off.png") %>',
        starOn: '<%= asset_path("star-on.png") %>',
        scoreName: 'review[rate]',
        target: '#hint1',
        targetText: '評価を選択してください',
        hints: ['とても悪い', '悪い', '普通', '良い', 'とても良い'],
        targetKeep: true,
        half: false,
        score: function() {
          return $(this).attr('data-rate');
        },
      });
    })
  </script>